{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslin/recomended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"]
  }
}
